<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
  
	<context:annotation-config/>

	<!-- ############################################################# -->
    <!-- definicion del modelo del lanzador de trabajos usado para ejecutar los jobs (por defecto) -->
	<beans:bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <beans:property name="jobRepository" ref="jobRepository"/>
        <beans:property name="taskExecutor" ref="taskExecutor"/>
    </beans:bean>
    
    <!-- ############################################################# -->
    <!-- definicion del repositorio de trabajos udsado (por defecto) -->
	<beans:bean id="jobRepository" 
  		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
    	<beans:property name="transactionManager" ref="transactionManager"/>
	</beans:bean>
	
	<!-- ############################################################# -->
    <!-- definicion del modelo de transacciones udaod (sin transacciones) -->
	<beans:bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager"/>
      
    <!-- ############################################################# -->
    <!-- definicion del modo de ejecución de tareas (sincrono) -->
    <beans:bean id="taskExecutor" class="org.springframework.core.task.SyncTaskExecutor"/>
</beans:beans>
